
.header{
    position: fixed;
    width: 100%;


    &-body{
        position: relative;
        display: flex;
        align-items: center;
        height: 70px;
    
        li{
            list-style: none;
            margin-right: 15px;
           
        }
    }
    &:hover{
        color:#B47B48;
    }
    
    &-list{
        display: flex;
        float: left;
    }
    &-link{
        color: black;
        &:hover{
            color:#B47B48;
        }
    }
}
.container{
    max-width: 1100px;
    margin: 0;
    padding: 0px 20px;
}
@media(max-width:480px){
    .header-hamburger{
        width: 32px;
        height: 32px;
        display: block;
        background: transparent;
        border: transparent;
        z-index: 1000;

        span {
            display: block;
            width: 100%;
            height: 3px;
            background-color: #000000;
            position: relative;
            box-shadow: 0 2px 10px  #00000030;

        }
        span + span{
            margin-top:7px;
        }
    }
    .header{
    &-menu{
        position: fixed;
        height: 100%;
        width: 100%;
        left: -100%;
        top: 0;
        background:#009eda;
        // transition: left 0.5s;
        }
        &-list{
            display: block;
            padding-left:15px ;
            padding-top: 70px;
            
            li{
                margin-bottom: 15px;

                a{
                    font-size: 18px;
                }
            }
        }
    }
    .active{
        .header-menu{
            left: 0;
        }
    }
}