body {
    color: $primaryTextColor;
    background-color: $backgroundColor;
    font-family: Inter, sans-serif;
  }
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  a {
    text-decoration: none;
    color: $primaryTextColor;
  }
  h1,
  h2,
  h3,
  p,
  ul {
    margin-top: 0;
    margin-bottom: 0;
  }
  .list {
    padding: 0;
    margin: 0;
    list-style: none;
  }