
<div class="container">
    
        
        <h2 class="FooterH2">TRADITIONAL 
            ARTISAX BAKERY</h2>
       
            <ul class="FooterList">
                <li class="FooterItem1">
                    
                    <h3 class="FooterItemH">About</h3>
                    
                    <p class="FooterItemText">Why Eatly 
                        Capital
                        Securaty</p>
               
                </li>
                <li class="FooterItem2">
                    
                    <h3 class="FooterItemH">Company </h3>
                    
                    <p class="FooterItemText">About us 
                        Features 
                        News & Blog </p>
                
                </li>
                <li class="FooterItem3">
                    
                    <h3 class="FooterItemH">Movement </h3>
                    
                    <p class="FooterItemText">What  Eatly
                        Support Us</p>
                
                </li>
            </ul>
            <div class="FooterDiv1">
                <p class="FooterText">We want be helthy</p>
            </div>
            <div class="FooterDiv2">
                <p class="FooterCopyright">@2022 Eatly.All right riserved.</p>
            </div>
    
</div>