<section class="section-footer">
<div class="container footer">
    
        <div class="footer-title-div">
        <h2 class="footer-h2">TRADITIONAL 
            ARTISAX BAKERY</h2>
            <p class="footer-text2">We want be helthy</p>
        </div>
       
            <ul class="footer-list">
                <li class="footer-item1">
                    
                    <h3 class="footer-item-h">About</h3>
                    
                    
                        <ul class="footer-linkslist">
                            <li>
                                <a href="">Why⠀</a>
                            </li>
                            <li>
                                <a href="">Eatly</a>
                            </li>
                            <li>
                                <a href="">Capital</a>
                            </li>
                            <li>
                                <a href="">Securaty</a>
                            </li>
                        </ul>
                </li>
                <li class="footer-item2">
                    
                    <h3 class="footer-item-h">Company </h3>
                    
                    
                        <ul class="footer-linkslist">
                            <li>
                                <a href="">About us</a>
                            </li>
                            <li>
                                <a href="">Features</a>
                            </li>
                            <li>
                                <a href="">News &</a>
                            </li>
                            <li>
                                <a href="">⠀Blog</a>
                            </li>
                        </ul>
                
                </li>
                <li class="footer-item3">
                    
                    <h3 class="footer-item-h">Movement </h3>

                    <ul class="footer-linkslist">
                        <li>
                            <a href="">What⠀</a>
                        </li>
                        <li>
                            <a href="">Eatly</a>
                        </li>
                        <li>
                            <a href="">Support</a>
                        </li>
                        <li>
                            <a href="">⠀Us</a>
                        </li>
                    </ul>
                
                </li>
            </ul>
            <div class="footer-div1">
                <p class="footer-text">We want be helthy</p>
            </div>
            <div class="footer-div2">
                <p class="footer-copyright">@2022 Eatly.All right riserved.</p>
            </div>
    
</div>
</section>