<section class="section header">
    <button class="header-burgermenu-button" type="button" data-menu-button>
        <svg width="24" height="16" class="header-burgermenu-button-svg">
            <use class="iconmenu" href="./images/symbol-defs.svg#buttmenu"></use>
            <use class="iconclose" href="./images/symbol-defs.svg#buttclose"></use>
        </svg></button>
        <div class="header-burgermenu" data-menu>
        <ul class="header-list">
            <li class="header-list-item">
                <a href="" class="header-link">About us</a>
            </li>
            <li class="header-list-item">
                <a href="" class="header-link">Delivery</a>
            </li>
            <li class="header-list-item">
                <a href="" class="header-link">Menu</a>
            </li>
            <li class="header-list-item">
                <a href="" class="header-link">Contacts</a>
            </li>
            <li class="header-list-item">
                <a href="" class="header-link">Reviews</a>
            </li>                
        </ul>
    </div>
    
      
</section>