<header class="header">
    <div class="container">
        <div class="header-body">
            <div class="header-hamburger">
            </div>
            <div class="header-menu">
                <ul class="heder-list">
                <li><a href="./"class="header-link">About us</a></li>
                <li><a href="./"class="header-link">Delivery</a></li>
                <li><a href="./"class="header-link">Menu</a></li>
                <li><a href="./"class="header-link">Contacts</a></li>
                <li><a href="./"class="header-link">Reviews</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>