<header class="header">
    <div class="container">
        <div class="header-body">
            <div class="header-burger">
                <span></span>
            </div>
            <nav class="header-menu">
                <ul class="header-list">
                    <li><a href="./"class="header-link">About us</a></li>
                    <li><a href="./"class="header-link">Delivery</a></li>
                    <li><a href="./"class="header-link">Menu</a></li>
                    <li><a href="./"class="header-link">Contacts</a></li>
                    <li><a href="./"class="header-link">Reviews</a></li>
                </ul>
            </nav>
        </div>
    </div>

</header>