
<section class="hero-section section">
    <div class="hero container">
        <h1 class="hero-title">TRADITIONAL ARTISAX BAKERY</h1>
        <p class="mobile-text">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
        <p class="tab-desk-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
        <button class="hero-button">SHOP NOW</button>
    </div>
</section>