<ul class="cards-ul">
    <li class="headercards-li">
        <img src="./images/hero/pngwing 1.png" alt="American Cockie">
        <p class="cards-prise">$8.00(kg)</p>
        <p class="cards-text">American Cockie</p>
        <button class="cards-button" type="button">BUY</button>
    </li>
    <li class="headercards-li">
        <img src="./images/hero/pngegg (1) 1.png" alt="Crushed with chockolate">
        <p class="cards-prise">$4.00</p>
        <p class="cards-text">Crushed with
            chockolate</p>
        <button class="cards-button" type="button">BUY</button>
    </li>
    <li class="headercards-li">
        <img src="./images/hero/imgbin_blueberry-pie-blackberry-pie-rhubarb-pie-apple-pie-tart-png 1.png" alt="Blackberry pie">
        <p class="cards-prise">For piece 
            $4.00</p>
        <p class="cards-text">Blackberry pie</p>
        <button class="cards-button" type="button">BUY</button>
    </li>
</ul>