<section class="section">
    <div class="container">
        <h2 class="menu-head">Menu</h2>
        <ul class="menu-list">
            <li class="menu-item">
                <img src="../images/menu/bread-mart-bread-with-no-background-1558851 1.png" alt="">
                <p class="menu-text">Breads</p>
                <p class="order">Order</p>
            </li>
            <li class="menu-item">
                <img src="../images/menu/Group 9.png" alt="">
                <p class="order">Order</p>
            </li>
            <li class="menu-item">
                <img src="../images/menu/Group 28.png" alt="">
                <p class="menu-text">Cakes & Capcakes</p>
                <p class="order">Order</p>
            </li>
            <li class="menu-item">
                <img src="../images/menu/Group 29.png" alt="">
                <p class="menu-text">Coockies & Pretzels</p>
                <p class="order">Order</p>
            </li>
        </ul>
    </div>
</section>