<div class="backdrop is-hidden" data-modal>
    <div class="modal">
        <div class="modal-information">
            <h2 class="modal-tittle">TRADITIONAL ARTISAX BAKERY</h2>
            <ul class="fields">
                <li class="fields-item">
                    <input type="text" name="card" id="card" placeholder="Your card"> 
                </li>
                <li class="fields-item">
                    <input type="text" name="mail" id="mail" placeholder="Your adress">
                </li>
            </ul>
            <button type="button" class="modal-button">SHOP NOW</button>
        </div>
    </div>

</div>