<div class="backdrop is-hidden" data-modal>
    <div class="modal">
        <h2 class="modal-tittle">Залиште свої дані, ми Вам зателефонуємо</h2>
        <ul class="fields">
            <li class="fields-item">
                <input type="text" name="card" id="card" placeholder="Your card"> 
            </li>
            <li class="fields-item">
                <input type="text" name="mail" id="mail" placeholder="Your adress">
            </li>
        </ul>
        <button type="button" class="modal-button">SHOP NOW</button>
        <img src="./images/modal-bread.png" alt="">
    </div>
</div>