<section class="section-quality">
    <div class="container">
    <h2 class="title-quality">Quality our bekary</h2>
    <ul class="list-quality">
        <li class="main-quality kard-1">
            <img class="img-quality" src="./img/bread-mart-bread-with-no-background-1558851 2.png" alt="bread">
            <div class="div-quality">
            <ul class="div-p-quality">
                <li><p class="text-quality">1.Flour with fresh wheat</p></li>
                <li><p class="text-quality">2.New drozzhi</p></li>
                <li><p class="text-quality">3.Fresh eggs</p></li>
                <li><p class="text-quality">4.Water from the well</p></li>
            </ul>
            </div>
        </li>
        <li class="main-quality kard-2">
            <img class="img-quality" src="./img/pngegg (4) 2.png" alt="bread">
            <div class="div-quality ">
            <ul class="div-p-quality">
                <li><p class="text-quality">1.Flour with fresh wheat</p></li>
                <li><p class="text-quality">2.New drozzhi</p></li>
                <li><p class="text-quality">3.Fresh eggs</p></li>
                <li><p class="text-quality">4.Water from the well</p></li>
            </ul>
            </div>
        </li>
        <li class="main-quality kard-3">
            <img class="img-quality" src="./img/pngwing 4.png" alt="bread">
            <div class="div-quality">
            <ul class="div-p-quality">
                <li><p class="text-quality">1.Flour with fresh wheat</p></li>
                <li><p class="text-quality">2.New drozzhi</p></li>
                <li><p class="text-quality">3.Fresh eggs</p></li>
                <li><p class="text-quality">4.Water from the well</p></li>
            </ul>
            </div>
        </li>
    </ul>
    </div>
</section>    