<section class="section-where">
    <div class="container general">
        
        <div class="where-box">
            <h2 class="text-where">Where<h2>
            <img class="where-img" src="images/image 1.jpg" alt="location">
        </div>
    <div class="how-box">
            <h3 class="title">How</h3>
            <ul class="where-list">
                <li class="item-where">
                    <p class="text">+38 055 123 13 12</p>
                </li>
                <li class="item-where">
                    <p class="text ">Tik tok.:@TR.Bekary</p>
                </li>
                <li class="item-where">
                    <p class="text">Inst:@TR.Bekary</p>
                </li>
            </ul>    
    </div>
    <div class="when-box">
       <h3 class="title">When</h3>
       <p class="text">with 8:30 to 20:30</p>
    </div>
  </div>
</section>