<section class="section-why">
    <div class="container">
        <h2 class="why-title">
            Why TRADITIONALARTISA BAKERY ?
        </h2>
        <ul class="why-list">
            <li class="why-item">
                <svg class="why-icon" width="140px" height="130px">
                    <use href="/src/images/symbol-defs.svg#icon-Group-6">

                    </use>
                </svg>
                <p class="why-text">Order at home</p>
            </li>
            <li class="why-item">
                <svg class="why-icon"  width="140px" height="130px">
                    <use href="/src/images/symbol-defs.svg#icon-Group-1">

                    </use>
                </svg>
                <p class="why-text">Fresh food</p>
            </li>
            <li class="why-item">
                
                <svg class="why-icon" width="140px" height="130px">
                    <use href="/src/images/symbol-defs.svg#icon-Group-3">

                    </use>
                </svg>
                
                <p class="why-text">Delivory at home</p>
            </li>
           
        </ul>
    </div>
</section>