.cards-ul{
    padding: 0%;
   display: flex;
}
.headercards-li{
    margin-left: auto;
    margin-right: auto;
    list-style: none;
    background-color: #272727;

    @media screen and (min-width: $mobile){
      width: 258px;
      height: 329px;
      flex-direction: column;
     text-align: center;
     justify-content: center;
     
      
    }
    @media screen and (min-width: $tablet){
        flex-direction: row;
        width: 227px;
        height: 139px;
        background-color: rgba(242, 242, 242, 0.3);
        margin-right: 70px;
    }
    @media screen and (min-width: $desktop){
        width: 310px;
        height: 225px;
       }
 

    &:not(:first-child){
        @media screen and (max-width: 767px){
            display: none;
        }
        
    }
    
    &:last-child{
        @media screen and (max-width: 1139px){
            display: none;
        }
    }
   
}



.cards-image{
    // width: 100%;
    
    @media screen and (min-width: $mobile){
      width: 200px;
      height: 150px;
      margin-left: auto;
      margin-right: auto;
      margin-top: 20px;
      margin-bottom: 15px;

    }

    @media screen and (min-width: $tablet){
       width: 101px;
       height: 80px;
       bottom: 10px;
       left: 10px;
      }

}

.cards-prise{
//    margin-top: 14px;
    font-style: normal;
    font-weight: 200;
    font-size: 24px;
    line-height: 29px;
    
}

.cards-text{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 14px;
    margin-top: 2px;
}

.cards-button{
    color: white;
    background-color:  #C85312;
    
    border: none;
    border-radius: 4px;
    margin-bottom: 18px;

    @media screen and (min-width: $mobile){
        height: 44px;
        width: 131px;
        font-weight:bolder;
        font-weight: 900;
        font-size: 20px;
        line-height: 19px;
      }

    @media screen and (min-width: $desktop){
        height: 34px;
        width: 79px;
        
       }
  
}


   