.cards-ul{
   display: flex;
}

.cards-prise{
    font-style: normal;
    font-weight: 200;
    font-size: 24px;
    line-height: 29px;
}

.cards-text{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}

.cards-button{
    color: white;
    background-color:  #C85312;
    height: 34px;
    width: 79px;
    border: none;
}


   