li{
    list-style: none;
}
.backdrop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: none;
    backdrop-filter: blur(4px);
    z-index: 10;
}
// .backdrop.is-hidden{
//     opacity: 0;
//     pointer-events: none;
// }
.modal{
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #FFFFFF;
    height: 669px;
    background-repeat: no-repeat;
    background-position: 100%;
    @media screen and (min-width: 0) {
        width: 480px;
        border-radius: 10px;
    }
    @media screen and (min-width: $tablet) {
        width: 768px;
        border-radius: 20px;
        background-image: url(../images/modal-bread2.png);
    }
    @media screen and (min-width: $desktop) {
        width: 990px;
        border-radius: 50px;
        background-image: url(../images/modal-bread.png);
    }
}
.modal-information{
    width: 514px;
    padding-top: 94px;
    padding-right: 19px;
    @media screen and (min-width: 0) {
        padding-left: 19px;
        text-align: center;
    }
    @media screen and (min-width: $tablet) {
        padding-left: 83px;
        text-align: left;
    }
    @media screen and (min-width: $desktop) {
        padding-left: 83px;
        text-align: left;
    }
}
.modal-tittle{
    margin-bottom: 40px;
    font-family: 'Inter';  
    font-weight: 200;
    font-size: 48px;
    line-height: 58px;
    color: $secondaryTextColor;
}
.modal-button{
    background: #B47B48;
    border-radius: 17px;
    border: none;
    margin-top: 54px;
    font-weight: 300;
    font-size: 24px;
    line-height: 72%;
    color: $primaryTextColor;
    padding: 20px 37px;
    &:hover{
        box-shadow: 0px 4px 4px 4px rgba(0, 0, 0, 0.15);
}
}
.fields-item{
    margin-left: -43px;
    margin-top: 40px;
    &:not(:first-child){
        margin-top: 71px;
    }
    & input{
        border: none;
        background: #F5F5F5;
        width: 100%;
        height: 72px;
        padding-left: 16px;
    }
}