.quality{
    position: relative;
}
.section-quality::after{
    @media screen and (max-width: 1139px) {
        display: none;
    }

        @media screen and (min-width: $desktop) {
            --a: "Quality our bekary";
    --b: var(--a) " " var(--a);
    --c: var(--b) " " var(--b);
    --d: var(--c) " " var(--c);
    --e: var(--d) " " var(--d);

    content: var(--e);
        word-break: break-all;
        color: $backgroundColor;
        font-weight: 900;
        font-size: 64px;
        line-height: 77px;
        
        text-shadow: 1px 0 1px #FFFFFF, 
                0 1px 1px #FFFFFF, 
                -1px 0 1px #FFFFFF, 
                0 -1px 1px #FFFFFF;
                }
                        
        }


@media screen and (max-width:767px){
    .section-quality{
        display: none;
    }
}
@media screen and (min-width:768px) {
    .section-quality{
        padding-top: 72px;
        padding-bottom: 78px;
        background: #202023;
    }
    .title-quality{
        display: flex;
        justify-content: center;

        font-family: 'Inter';
        font-style: normal;
        font-weight: 100;
        line-height: 116px;
        color: #FFFFFF;

        @media screen and (min-width: $tablet) {
            font-size: 63px;
            margin-bottom: 146px;
        }

        @media screen and (min-width: $desktop) {
            font-size: 96px;
            margin-bottom: 0;
        }
    }

    .list-quality{
        @media screen and (min-width: $tablet) {
            display: flex;
            // list-style: none;
            justify-content: space-between;
            // padding: 0;
        }
        @media screen and (min-width: $desktop) {
           position: absolute;
        }
        
        

    }
    .img-quality{
        @media screen and (min-width: $tablet) {
            width: 225px;
            height: 200px;
        }
        @media screen and (min-width: $desktop) {
           width: 290px;
        }
    }

    .div-quality{
        background: rgba(242, 242, 242, 0.3);
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
        backdrop-filter: blur(18px);

        @media screen and (min-width: $tablet) {
            width: 225px;
            padding: 20px 10px;
           
        }
        @media screen and (min-width: $desktop) {
            width: 290px;
            padding: 31px 5px 51px 10px;
        }

        
    
        
    }
    .text-quality{
        display: flex;
        justify-content: center;
        text-align: center;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        line-height: 29px;    
        color: #FFFFFF;
        margin: 0;

        @media screen and (min-width: $tablet) {
            font-size: 17px;
        }

        @media screen and (min-width: $desktop) {
            font-size: 24px;
        }
    }

    .div-p-quality{
        list-style: none;
        padding: 0;
    }}
@media screen and (min-width:1140px) {
    .section-quality{
        padding-top: 90px;
        padding-bottom: 47px;

    }
    .title-quality{
        font-family: 'Italiana';
        font-style: normal;
        font-weight: 400;
        font-size: 64px;
        line-height: 75px;

        color: #FFFFFF;
    }
    .div-quality{
        background: rgba(242, 242, 242, 0.3);
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
        backdrop-filter: blur(18px);
    }
    
    .list-quality{
        position: absolute;
        display: flex;
        list-style: none;
        justify-content: center;
    }
    
    .kard-1{
        @media screen and (min-width: $desktop) {
            position: absolute;
            top: 0;
            left: 0;
        }
    
    }
    .kard-2{
        @media screen and (min-width: $desktop) {
            top: 78px;
            position: absolute;
            left: 371px;
        }
        
        // position: absolute;
        // left: 549px;
        // top: 249px;
    } 
    .kard-3{
        @media screen and (min-width: $desktop) {
            position: absolute;
            top: 150px;
            left: 763px;
        }
        
        // position: absolute;
        // left: 927px;
        // top: 288px;
    }

    .text-quality{
        display: flex;
        justify-content: center;
        text-align: center;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 29px;    
        color: #FFFFFF;
        margin: 0;
    }

    .div-p-quality{
        list-style: none;
        padding: 0;
    }
}
