.where-list{
    list-style: none;
    @media screen and (min-width: $mobile) {
        padding: 0;
    }
}
.text-where{
    font-size: 40px;
    line-height: 48px;
    font-weight: 400;
    color: #FFFFFF;
    @media screen and (min-width: $mobile) {
        width: 157px;
        margin-bottom: 15px;
    }
    @media screen and (min-width: $tablet){
        font-family: "Inter";
font-size: 48px;
font-weight: 300;
line-height: 58px;
letter-spacing: 0em;
text-align: left;
margin-bottom: 43px;
}
@media screen and (min-width: $desktop) {
    font-family: "Italiana";
font-size: 48px;
font-weight: 400;
line-height: 57px;
letter-spacing: 0em;
text-align: left;

}
}
.where-box{
    @media screen and (min-width: $mobile) {
      margin-left: 7px;
      margin-bottom: 43px;
      margin-top: 38px;
    }
    @media screen and (min-width: $tablet){
        margin-left: 161px;
        margin-bottom: 43px;
        margin-top: 0;
    }
    @media screen and (min-width: $desktop) {
        margin-left: 0;
    }
}
.text-how{
        font-size: 40px;
        line-height: 48px;
        color: #FFFFFF;
    @media screen and (min-width: $mobile) {
        font-weight: 400;
        margin-bottom: 15px;
    }
    @media screen and (min-width: $tablet){
        margin-bottom: 49px;
        font-family: "Inter";
font-size: 40px;
font-weight: 400;
line-height: 48px;
letter-spacing: 0em;
text-align: left;
    }
}
.how-box{
    @media screen and (min-width: $mobile) {
        margin-left: 38px;
        margin-bottom: 48px;
    }
    @media screen and (min-width: $tablet){
        margin-left: 124px;
        margin-top: 180px;
    }
}
.text{
    @media screen and (min-width: $mobile) {
        font-size: 24px;
        font-weight: 300;
        line-height: 29px;
        letter-spacing: 0em;
        font-style: normal;
        width: 219px;
        height: 29px;
    }
    @media screen and (min-width: $tablet){
        margin-bottom: 36px;
    }
}
.text.tik-tok{
    @media screen and (min-width: $mobile){
        font-size: 24px;
        font-weight: 300;
        line-height: 29px;
        letter-spacing: 0em;

        margin-bottom: 29px;

        font-style: normal;
        height: 29px;
        width: 250px;
    }
}
.text-when{
    @media screen and (min-width: $mobile) {
        font-weight: 400;
        font-size: 40px;
        line-height: 48px;

        color: #FFFFFF;
        margin-left: 37px;
        margin-bottom: 15px;
    }
    @media screen and (min-width: $tablet){
        margin-bottom: 40px;
        font-weight: 400;
        font-family: "Inter";
        font-size: 40px;
        line-height: 48px;
        letter-spacing: 0em;
        text-align: left;

    }
}
.text-time{
    @media screen and (min-width: $mobile) {
        margin-left: 33px;
        font-weight: 200;
        font-size: 24px;
        line-height: 29px;

        color: #FFFFFF;
    }
}
.general{
    @media screen and (min-width: $tablet){
        display: flex;
    }
}
// .where-img{
//     @media screen and (min-width: $tablet){
//         width: 535px;
//     }
// }
.when-box{
    @media screena and (min-width: $mobile){
        margin-left: 33px;
    }
    @media screen and (min-width: $tablet){
        margin-right: 20px;
        margin-top: 180px;
    }
}
.section-where{
    @media screen and (min-width: $mobile){
        padding-bottom: 38px;
        padding-top: 22px;
    }
}
.item-where{
    @media screen and (min-width: $mobile){
        margin-bottom: 29px;
    }
}